@import "foundation";

// foundation overrides
$large-breakpoint:  em-calc(1440) !default;

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: Roboto, sans-serif;
}

$blue: #003D7D;
$green: #008752;
$white: #FFFFFF;
$grey: #919191;

$footer-height: 80px;


.container {
	// used for sticky footer
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	margin-bottom: -$footer-height;
}

.background-overlay {
	background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(136, 141, 189, 0.6)), url("/images/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.row {
	&.full-width {
		max-width: 100% !important;
		.row{
			margin: 0 auto;
			max-width: 62.5rem;
		}
	}
}

@mixin sidebar-border {
	border: 1px solid $grey;
	border-top: none;
	border-left: none;
}

.sidebar {
	.coach-avatar {
		clear: both;
		@include sidebar-border;

		.-logo {
			float: left;
		}
		.-title {
			color: $blue;
			font-weight: bold;
		}
		.-log-out {
			color: $green;
		}
	}

	.session-listing {
		@include sidebar-border;

		.-title {
			color: $blue;
			font-weight: bold;
		}
		.-dates {
			color: $grey;
		}
		.-classes-dates {
			font-size: 14px;
		}
		.-classes {
			display: none;

			&.x-show {
				display: block;
			}
		}
	}
}

.login-form {
	margin: 0px auto;
    margin-top: 135px;
    padding: 40px;
    max-width: 40%;
    background-color: white;
	.-login-button{
			margin-top: 10px;
		    outline-style: solid;
		    outline-color: #003D7D;
		    outline-offset: 5px;
		    outline-width: 10px;
		    width: 92.5%;
		    background-color: $green;
	}
}

.main-display {
	text-align: center;
	.can-logo-splash {
		margin: 200px auto 0;
	}
	.-title {
		color: $blue;
		font-weight: bold;
		text-align: left;
		font-size: 20px;
	}
	.-sub-heading {
		font-weight: bold;
		color: $green;
		font-size: 14px;
		text-align: left;
		padding-bottom: 20px;
	}
	.table-header {
		color: $blue;
		font-weight: bold;
		text-align: left;
		font-size: 16px;
		padding-bottom: 10px;
	}
}

.login-messages {
	display: none;
}

.footer, .footer-push {
	height: $footer-height;
}

.nav-footer {
	text-align: center;
}
