<div class="large-4 columns sidebar" ng-controller="NavCtrl">
    <div class="row coach-avatar">
        <img src="/images/coach-avatar.png" class="-logo">

        <div class="-title-container">
            <div class="-title">Awesome Coach's Sessions</div>
            <div class="-log-out">Log Out</div>
        </div>
    </div>
    <div class="row session-listing" ng-repeat="session in sessions">
        <div class="-title">{{ session.title }}</div>
        <div class="-dates">{{session.dates}}</div>
        <div class="-current-status x-today">{{session.status}}</div>
    </div>
</div>
