<div class="large-4 columns sidebar" ng-controller="NavCtrl">
    <div class="row coach-avatar">
        <img src="/images/coach-avatar.png" class="-logo">

        <div class="-title-container">
            <div class="-title">Awesome Coach's Sessions</div>
            <div class="-log-out">Log Out</div>
        </div>
    </div>
    <div class="row session-listing" ng-repeat="session in sessions">
        <div class="-title "><a ng-href="#/session/{{session.session_id}}">{{ session.session_name }}</a></div>
        <div class="-dates">{{ session.session_start_date}} - {{ session.session_end_date }}</div>
        <div class="-venue">{{ session.session_venue }}</div>
        <div class="-current-status x-today">{{session.status}}</div>
    </div>
</div>
