<!DOCTYPE html>
<html lang="en">
<head>
    <title>CANTech Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="row">
    <!-- read this for the grid: http://foundation.zurb.com/docs/components/grid.html -->
    <div class="large-4 columns">...</div>
    <div class="large-8 columns">...</div>
</div>
</body>
</html>
