<!DOCTYPE html>
<html lang="en" ng-app="cantechApp">
<head>
    <title>CANTech Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <div class="row full-width">
        <!-- read this for the grid: http://foundation.zurb.com/docs/components/grid.html -->
        <ng-include src="'/partials/sidebar.html'"></ng-include>
        <div class="large-8 columns main">
            <div class="row main-display">
                <div ng-view></div>
            </div>
        </div>
    </div>
    <!-- footer-push is used for the sticky footer -->
    <div class="footer-push"></div>
</div>

<div class="footer">
    <div class="row">
        <div class="columns large-4"></div>
        <div class="columns large-8 nav-footer">
            <div class="columns large-4">
                <img src="/images/workers.png">
            </div>
            <div class="columns large-4">
                <img src="/images/participants.png">
            </div>
            <div class="columns large-4">
                <!-- TODO: hack for width here, need real image -->
                <img src="/images/reports.png" width="80px">
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>
