<!DOCTYPE html>
<html lang="en">
<head>
    <title>CANTech Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/foundation-icons.css">
</head>
<body>
<div class="container background-overlay">
    <div class="row full-width">
    	<div class="large-10 large-centered columns text-center">
    		<div class="login-form">
    			<img src="/images/can-logo.png" />
        		<form id="user-login">
				    <input type='email' name='email' placeholder="Email"/>
				    <input type='password' name='password' placeholder="Password"/>
				    <button class="button expand -login-button" type='submit' value='Submit'>LOGIN</button>
				</form>
				<div data-alert class="login-messages alert-box alert radius"></div>
        	</div>
        </div>
    </div>
    <!-- footer-push is used for the sticky footer -->
    <div class="footer-push"></div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>
