<!DOCTYPE html>
<html lang="en" ng-app="cantechApp">
<head>
    <title>CANTech Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/foundation-icons.css">
</head>
<body>
<div class="container background-overlay">
    <div class="row full-width">
    	<div class="large-10 large-centered columns text-center">
    		<div class="login-form">
    			<img src="/images/can-logo.png" />
        		<ng-include src="'/partials/login-form.html'"></ng-include>
        	</div>
        </div>
    </div>
    <!-- footer-push is used for the sticky footer -->
    <div class="footer-push"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>
