<div class="-title">May 16th 2015</div>
<div class="-sub-heading">Participants</div>
<table>
    <thead>
    <tr>
        <th width="150">Last Name</th>
        <th width="150">First Name</th>
        <th width="150">Emergency Contact</th>
        <th width="200">Sign In</th>
        <th width="200">Sign Out</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Doe</td>
        <td>John</td>
        <td>604-555-555</td>
        <td class=""><input id="checkbox-signin" type="checkbox"></td>
        <td><input id="checkbox-signout" type="checkbox"></td>
    </tr>
    <tr>
        <td>Doe</td>
        <td>John</td>
        <td>604-555-555</td>
        <td>
            <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                    <input type="text" placeholder="datetime" value="02:10">
                </div>
                <div class="small-3 columns">
                    <span class="postfix"><i class="fi-pencil"></i></span>
                </div>
            </div>
        </td>
        <td><input id="checkbox-signout" type="checkbox"></td>
    </tr>
    </tbody>
</table>
