<div class="large-4 columns sidebar" ng-controller="NavCtrl">
    <div class="row coach-avatar">
        <img src="/images/coach-avatar.png" class="-logo">

        <div class="-title-container">
            <div class="-title">Awesome Coach's Sessions</div>
            <div class="-log-out"><a href="/logout">Log Out</a></div>
        </div>
    </div>
    <div class="row session-listing" ng-repeat="session in sessions">
        <!-- TODO: we need individual classes here -->
        <div class="-title "><a ng-click="toggleSession(session)">{{ session.session_name }}</a></div>
        <div class="-dates">{{ session.session_start_date | date:'MMM d h:mm a'}} - {{ session.session_end_date | date:'MMM d h:mm a' }}</div>
        <div class="-venue">{{ session.session_venue }}</div>
        <div class="-current-status x-today">{{session.status}}</div>

        <div class="-classes {{session.toggle}}" ng-repeat="class in session.classes">
            <div class="-classes-dates"><a ng-href="#/classes/{{class.class_id}}/workers">{{class.class_date | date:'MMMM d'}}</a></div>
        </div>

    </div>
</div>
