<div class="-title">May 16th 2015</div>
<div class="-sub-heading">Workers</div>
<table>
    <thead>
    <div class="table-header">Staff</div>
    <tr>
        <th width="150">Last Name</th>
        <th width="150">First Name</th>
        <th width="150">Emergency Contact</th>
        <th width="200">Sign In</th>
        <th width="200">Sign Out</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="staffMember in staff">
        <td>{{staffMember.first_name}}</td>
        <td>{{staffMember.last_name}}</td>
        <td>{{staffMember.email_address}}</td>
        <td>
            <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                    <input type="text" class="time-picker" data-hour="{{staffMember.attendance.signin.time | date:'H' }}" data-minute="{{participant.attendance.signin.time | date:'mm' }}">
                </div>
            </div>
        </td>
        <td>
            <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                    <input type="text" class="time-picker" data-hour="{{staffMember.attendance.signout.time | date:'H' }}" data-minute="{{participant.attendance.signout.time | date:'mm' }}">
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <div class="table-header">Volunteers</div>
    <tr>
        <th width="150">Last Name</th>
        <th width="150">First Name</th>
        <th width="150">Emergency Contact</th>
        <th width="200">Sign In</th>
        <th width="200">Sign Out</th>
    </tr>
    </thead>
    <tbody>
    <!-- using staffMember here so I can copy code, these are volunteers -->
    <tr ng-repeat="staffMember in volunteers">
        <td>{{staffMember.first_name}}</td>
        <td>{{staffMember.last_name}}</td>
        <td>{{staffMember.email_address}}</td>
        <td>
            <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                    <input type="text" class="time-picker" data-hour="{{staffMember.attendance.signin.time | date:'H' }}" data-minute="{{participant.attendance.signin.time | date:'mm' }}">
                </div>
            </div>
        </td>
        <td>
            <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                    <input type="text" class="time-picker" data-hour="{{staffMember.attendance.signout.time | date:'H' }}" data-minute="{{participant.attendance.signout.time | date:'mm' }}">
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
